app/views/partials/andre.slim
navbar
	.navbar-andre
		.container
			h3 andreasdwj
			.menu-toggle
				.icon-bar.bar-1
				.icon-bar.bar-2
				.icon-bar.bar-3

.home
	.container
		.row
			.col-sm-12
				.home__wrapper
					span.wrapper-tagline Hello, nice to meet you!
					img src="images/logo.png" class="img-responsive logo-home"
					span.wrapper-text andreasdwj
					span.wrapper-text-bottom copyright 2017
					h1  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia consectetur est reiciendis aliquid corrupti optio obcaecati minima sint similique, incidunt autem labore aliquam rerum alias exercitationem, at pariatur cupiditate. Enim!

					br

					h1  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam enim dolorem molestiae, sit tenetur quibusdam quae fugit officia animi ut odit, voluptas voluptate, eum odio voluptatum? Dolorem nobis eaque sapiente.
					
					/ .col-sm-6.text-center.mt-10
					/ 	.btn.btn-block.btn-home Buy Ticket
					/ .col-sm-6.text-center.mt-10
					/ 	.btn.btn-block.btn-socmed.ml-10 Our Socmed



/ 		.row
/ 			.col-sm-12
/ 			  .container-fluid
/ 			    .logo-client.home-carousel
/ 			      - (1..4).each do |i|
/ 			        .bf-subcategory__boxes style="text-align: center;"
/ 			          img alt="carousel-pict-#{i}" src="images/carousel-#{i}.png" class="img-responsive" style="width:100%;"

/ .gallery.mb-30
/ 	.container
/ 		.row
/ 			- (1..4).each do |j|
/ 				.col-sm-3
/ 					.gallery__wrapper 
/ 						.img-boxes
/ 							.parent-container
/ 								a.test-popup-link href="images/gallery/#{j}.jpg" 
/ 									img src="images/gallery/#{j}.jpg"


							
/ .hero
/ 	.hero-carousel
/ 		.hero__content-1
/ 		.hero__content-2
/ 		.hero__content-3
/ 	.hero__text
/ 		h1 Hello World
	

dist/views/partials/andre.html
<navbar>
  <div class="navbar-andre">
    <div class="container">
      <h3>
        andreasdwj
      </h3>
      <div class="menu-toggle">
        <div class="icon-bar bar-1"></div>
        <div class="icon-bar bar-2"></div>
        <div class="icon-bar bar-3"></div>
      </div>
    </div>
  </div>
</navbar>
<div class="home">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="home__wrapper">
          <span class="wrapper-tagline">Hello, nice to meet you!</span><img class="img-responsive logo-home" src="images/logo.png" /><span class="wrapper-text">andreasdwj</span><span class="wrapper-text-bottom">copyright 2017</span>
          <h1>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia consectetur est reiciendis aliquid corrupti optio obcaecati minima sint similique, incidunt autem labore aliquam rerum alias exercitationem, at pariatur cupiditate. Enim!
          </h1>
          <br />
          <h1>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam enim dolorem molestiae, sit tenetur quibusdam quae fugit officia animi ut odit, voluptas voluptate, eum odio voluptatum? Dolorem nobis eaque sapiente.
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
