app/views/partials/andreasdwj.slim
/ navbar
/ 	.navbar-andre
/ 		.container
/ 			img src="images/logo.png" class="img-responsive logo-home"
/ 			.menu-toggle
/ 				.icon-bar.bar-1
/ 				.icon-bar.bar-2
/ 				.icon-bar.bar-3

/ .hero-dwj
/ 	.container
/ 		.row
/ 			.col-sm-6.hidden-xs
/ 				.hero-dwj__pict
/ 					img src="../images/Untitled-1.png" class="pict-hero img-responsive"
/ 			.col-sm-6
/ 				.hero-dwj__content
/ 					.hero-title Hey!
/ 					.hero-subtitle I'm Andreas Dwi Jatmiko
/ 					.hero-caption Photographer & Front-end Web Developer
/ 				.hero-dwj__socmed
/ 					a href="https://www.facebook.com/andreasdwi.jatmiko" target="_blank"
/ 						i.fa.fa-facebook
/ 					a href="mailto:andreasdwj@hotmail.co.id"
/ 						i.fa.fa-envelope-o
/ 					a href="https://www.instagram.com/andreasdwj/" target="_blank"
/ 						i.fa.fa-instagram 
/ 					a href="https://www.behance.com/andreasdwj/" target="_blank"
/ 						i.fa.fa-behance 





	/ .hero-dwj__pict
	/ 	
	/ .hero-dwj__content
	/ 	.hero-title Hey!
	/ 	.hero-subtitle I'm Andreas Dwi Jatmiko
	/ 	.hero-caption Photographer & Frondend Web Developer
	/ 

//ver.2
.navbarv2
	.menu-center
		ul
			li About Me
			li Portfolio
			li Socmed


.ver2
	.container
		.row
			.col-sm-6.no-padding
				span kiri
			.col-sm-6.no-padding
				span kanan

dist/views/partials/andreasdwj.html
<div class="navbarv2">
  <div class="menu-center">
    <ul>
      <li>
        About Me
      </li>
      <li>
        Portfolio
      </li>
      <li>
        Socmed
      </li>
    </ul>
  </div>
</div>
<div class="ver2">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 no-padding">
        <span>kiri</span>
      </div>
      <div class="col-sm-6 no-padding">
        <span>kanan</span>
      </div>
    </div>
  </div>
</div>
