dist/views/partials/benefit.html
<div class="chat-widget">
  <div class="chat-widget__box">
    <div class="chat-widget__bar">
      <p>
        chat widget
      </p>
      <span class="fa fa-minus"></span><span class="fa fa-close"></span>
    </div>
    <div class="chat-widget__chat">
      <div class="sender">
        <div class="row mt-10">
          <div class="col-sm-3"></div>
          <div class="col-sm-9">
            <div class="content-sender">
              <Lorem>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</Lorem><tempor></tempor>
            </div>
          </div>
        </div>
      </div>
      <div class="receiver">
        <div class="row mt-10">
          <div class="col-sm-2">
            <div class="ava-frame-o">
              <img src="http://marketeers.com/wp-content/uploads/2016/06/Bernardus-Sumartok.jpg" />
            </div>
          </div>
          <div class="col-sm-10">
            <div class="content-receiver">
              <Lorem>ipsum dolor sit amet, consectetur adipisicing elit. Veniam omnis nobis sunt voluptatum natus explicabo, ut, doloremque quae consequuntur dolorem distinctio excepturi optio doloribus, laborum odit fuga cupiditate qui aspernatur.</Lorem>
            </div>
          </div>
        </div>
      </div>
      <div class="receiver">
        <div class="row mt-10">
          <div class="col-sm-2">
            <div class="ava-frame-o">
              <img src="http://marketeers.com/wp-content/uploads/2016/06/Bernardus-Sumartok.jpg" />
            </div>
          </div>
          <div class="col-sm-10">
            <div class="content-receiver">
              <Lorem>ipsum dolor sit amet, consectetur adipisicing elit. Veniam omnis nobis sunt voluptatum natus explicabo, ut, doloremque quae consequuntur dolorem distinctio excepturi optio doloribus, laborum odit fuga cupiditate qui aspernatur.</Lorem>
            </div>
          </div>
        </div>
      </div>
      <div class="receiver">
        <div class="row mt-10">
          <div class="col-sm-2">
            <div class="ava-frame-o">
              <img src="http://marketeers.com/wp-content/uploads/2016/06/Bernardus-Sumartok.jpg" />
            </div>
          </div>
          <div class="col-sm-10">
            <div class="content-receiver">
              <Lorem>ipsum dolor sit amet, consectetur adipisicing elit. Veniam omnis nobis sunt voluptatum natus explicabo, ut, doloremque quae consequuntur dolorem distinctio excepturi optio doloribus, laborum odit fuga cupiditate qui aspernatur.</Lorem>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="chat-widget__input">
      <input placeholder="Type Something (Press Enter to Send)" type="text" /><label class="file-upload"></label>
    </div>
    <input type="file" /><i class="fa fa-paperclip"></i>
  </div>
</div>

app/views/partials/benefit.slim
/ .tc-benefit
/ 	.container
/ 		.tc-benefit__wrapper
/ 			.tc-benefit__content
/ 				.row
/ 					.col-sm-12
/ 						.tc-benefit__content-heading
/ 							h2.text-center How it works
/ 					.col-sm-4
/ 						.tc-benefit__content-image
/ 							img src="images/icon_client_1.svg" class="tc-benefit__content-image"
/ 						.tc-benefit__content-title
/ 							h2 ini judul image
/ 						.tc-benefit__content-subtitle
/ 							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo explicabo quae eos cumque est quod mollitia sapiente atque, porro iusto dolor, eum, rerum accusantium eius. Inventore cupiditate numquam ratione optio!
/ 					.col-sm-4
/ 						.tc-benefit__content-image
/ 							img src="images/icon_client_1.svg" class="tc-benefit__content-image"
/ 						.tc-benefit__content-title
/ 							h2 ini judul image
/ 						.tc-benefit__content-subtitle 
/ 							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam corrupti eveniet animi minima debitis eum eligendi mollitia explicabo doloremque fugiat est quis numquam ipsum commodi quae eius, cumque, obcaecati provident.
/ 					.col-sm-4
/ 						.tc-benefit__content-image
/ 							img src="images/icon_client_1.svg" class="tc-benefit__content-image"
/ 						.tc-benefit__content-title
/ 							h2 ini judul image
/ 						.tc-benefit__content-subtitle 
/ 							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam corrupti eveniet animi minima debitis eum eligendi mollitia explicabo doloremque fugiat est quis numquam ipsum commodi quae eius, cumque, obcaecati provident.

.chat-widget
	.chat-widget__box
		.chat-widget__bar
			p chat widget
			span.fa.fa-minus
			span.fa.fa-close
		.chat-widget__chat
			.sender
				.row.mt-10
					.col-sm-3
					.col-sm-9
						.content-sender
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor 

			.receiver
				.row.mt-10
					.col-sm-2
						.ava-frame-o
							img src="http://marketeers.com/wp-content/uploads/2016/06/Bernardus-Sumartok.jpg"
					.col-sm-10
						.content-receiver
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam omnis nobis sunt voluptatum natus explicabo, ut, doloremque quae consequuntur dolorem distinctio excepturi optio doloribus, laborum odit fuga cupiditate qui aspernatur.

			.receiver
				.row.mt-10
					.col-sm-2
						.ava-frame-o
							img src="http://marketeers.com/wp-content/uploads/2016/06/Bernardus-Sumartok.jpg"
					.col-sm-10
						.content-receiver
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam omnis nobis sunt voluptatum natus explicabo, ut, doloremque quae consequuntur dolorem distinctio excepturi optio doloribus, laborum odit fuga cupiditate qui aspernatur.

			.receiver
				.row.mt-10
					.col-sm-2
						.ava-frame-o
							img src="http://marketeers.com/wp-content/uploads/2016/06/Bernardus-Sumartok.jpg"
					.col-sm-10
						.content-receiver
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam omnis nobis sunt voluptatum natus explicabo, ut, doloremque quae consequuntur dolorem distinctio excepturi optio doloribus, laborum odit fuga cupiditate qui aspernatur.

		.chat-widget__input
			input type="text" placeholder="Type Something (Press Enter to Send)"
			label.file-upload
        input type="file"
        i.fa.fa-paperclip
