dist/views/partials/blackwood.html
<div class="bw">
  <div class="bw__content">
    <div class="bw-heading">
      <div class="bw-title">
        Blackwood
      </div>
      <div class="bw-subtitle">
        Documentation
      </div>
    </div>
    <div class="bw-logo">
      <div class="bw-logo-content">
        <img class="logo-img" src="images/logo-1.png" />
      </div>
    </div>
    <div class="bw-menu mt-20">
      <a href="./views/pages/photo.html">
        <div class="menu-list btn">
          Photo
        </div>
      </a><a href="./views/partials/bw-video.html">
        <div class="menu-list btn">
          Video
        </div>
      </a><a href="./views/partials/bw-contact.html">
        <div class="menu-list btn" href="#">
          Contact
        </div>
      </a>
    </div>
    <div class="bw-contactus">
      <a href="https://www.facebook.com/blackwooddocumentation/" target="_blank"><i class="fa fa-facebook"></i></a><a href="mailto:andreasdwj@hotmail.co.id"><i class="fa fa-envelope-o"></i></a><a href="https://www.instagram.com/blackwood.doc/" target="_blank"><i class="fa fa-instagram"></i></a><a href="https://www.behance.com/blackwood.doc/" target="_blank"><i class="fa fa-behance"></i></a>
    </div>
  </div>
</div>

app/views/partials/blackwood.slim
.bw
	.bw__content
		.bw-heading
			.bw-title Blackwood
			.bw-subtitle Documentation
		.bw-logo
			.bw-logo-content
				img src="images/logo-1.png" class="logo-img"
		.bw-menu.mt-20
			a href="./views/pages/photo.html"
				.menu-list.btn Photo
			a href="./views/partials/bw-video.html"
				.menu-list.btn  Video
			a href="./views/partials/bw-contact.html"
				.menu-list.btn href="#" Contact
		.bw-contactus
			a href="https://www.facebook.com/blackwooddocumentation/" target="_blank"
				i.fa.fa-facebook
			a href="mailto:andreasdwj@hotmail.co.id"
				i.fa.fa-envelope-o
			a href="https://www.instagram.com/blackwood.doc/" target="_blank"
				i.fa.fa-instagram 
			a href="https://www.behance.com/blackwood.doc/" target="_blank"
				i.fa.fa-behance 
