app/views/partials/blackwood_portfolio.slim
.bw-portfolio
	.row
		.container-fluid
			.col-sm-4.no-padding 
				.img-boxes
					img src="http://78.media.tumblr.com/26f1db79797aaf8577a32e288c5afefd/tumblr_n7yhhvUQtx1st5lhmo1_1280.jpg"
					.overlay
						p andreasdwj
			.col-sm-4.no-padding
				.img-boxes
					img src="http://imgs.abduzeedo.com/files/paul0v2/unsplash/unsplash-09.jpg" 
			.col-sm-4.no-padding
				.img-boxes
					img src="http://www.redemptiontx.com/wp-content/uploads/2015/11/ad50c1f0.jpeg"
			.col-sm-4.no-padding
				.img-boxes
					img src="http://www.redemptiontx.com/wp-content/uploads/2015/11/ad50c1f0.jpeg"
			.col-sm-4.no-padding
				.img-boxes
					img src="http://imgs.abduzeedo.com/files/paul0v2/unsplash/unsplash-09.jpg" 
			.col-sm-4.no-padding
				.img-boxes
					img src="http://78.media.tumblr.com/26f1db79797aaf8577a32e288c5afefd/tumblr_n7yhhvUQtx1st5lhmo1_1280.jpg"

dist/views/partials/blackwood_portfolio.html
<div class="bw-portfolio">
  <div class="row">
    <div class="container-fluid">
      <div class="col-sm-4 no-padding">
        <div class="img-boxes">
          <img src="http://78.media.tumblr.com/26f1db79797aaf8577a32e288c5afefd/tumblr_n7yhhvUQtx1st5lhmo1_1280.jpg" />
          <div class="overlay">
            <p>
              andreasdwj
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 no-padding">
        <div class="img-boxes">
          <img src="http://imgs.abduzeedo.com/files/paul0v2/unsplash/unsplash-09.jpg" />
        </div>
      </div>
      <div class="col-sm-4 no-padding">
        <div class="img-boxes">
          <img src="http://www.redemptiontx.com/wp-content/uploads/2015/11/ad50c1f0.jpeg" />
        </div>
      </div>
      <div class="col-sm-4 no-padding">
        <div class="img-boxes">
          <img src="http://www.redemptiontx.com/wp-content/uploads/2015/11/ad50c1f0.jpeg" />
        </div>
      </div>
      <div class="col-sm-4 no-padding">
        <div class="img-boxes">
          <img src="http://imgs.abduzeedo.com/files/paul0v2/unsplash/unsplash-09.jpg" />
        </div>
      </div>
      <div class="col-sm-4 no-padding">
        <div class="img-boxes">
          <img src="http://78.media.tumblr.com/26f1db79797aaf8577a32e288c5afefd/tumblr_n7yhhvUQtx1st5lhmo1_1280.jpg" />
        </div>
      </div>
    </div>
  </div>
</div>
