app/views/partials/bw-contact.slim
link rel="stylesheet" href="/stylesheets/vendor.css"
link rel="stylesheet" href="/stylesheets/main.css"

.bw-heading-space

.bw-contact.mt-10
	.container
		.row
			.bw-contact__title Contact Us
			.bw-contact__wrapper
				.bw-contact__content.text-center
					.col-sm-4
						a href="mailto:andreasdwj@hotmail.co.id"
							.box-contact
								i.fa.fa-envelope-o
								.contact-us-heading Email
								.contact-us-subheading blackwood.doc@gmail.com
					.col-sm-4
						a href="https://www.instagram.com/blackwood.doc/" target="_blank"
							.box-contact
								i.fa.fa-instagram
								.contact-us-heading Direct Message
								.contact-us-subheading blackwood.doc
					.col-sm-4
						.box-contact
							i.fa.fa-phone
							.contact-us-heading WhatsApp
							.contact-us-subheading 0821 1019 7424


include ./bw-footer

dist/views/partials/bw-contact.html
<link href="/stylesheets/vendor.css" rel="stylesheet" />
<link href="/stylesheets/main.css" rel="stylesheet" />
<div class="bw-heading-space"></div>
<div class="bw-contact mt-10">
  <div class="container">
    <div class="row">
      <div class="bw-contact__title">
        Contact Us
      </div>
      <div class="bw-contact__wrapper">
        <div class="bw-contact__content text-center">
          <div class="col-sm-4">
            <a href="mailto:andreasdwj@hotmail.co.id">
              <div class="box-contact">
                <i class="fa fa-envelope-o"></i>
                <div class="contact-us-heading">
                  Email
                </div>
                <div class="contact-us-subheading">
                  blackwood.doc@gmail.com
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-4">
            <a href="https://www.instagram.com/blackwood.doc/" target="_blank">
              <div class="box-contact">
                <i class="fa fa-instagram"></i>
                <div class="contact-us-heading">
                  Direct Message
                </div>
                <div class="contact-us-subheading">
                  blackwood.doc
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-4">
            <div class="box-contact">
              <i class="fa fa-phone"></i>
              <div class="contact-us-heading">
                WhatsApp
              </div>
              <div class="contact-us-subheading">
                0821 1019 7424
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bw-footer">
  <div class="container">
    <div class="row">
      <div class="bw-footer__wrapper">
        <div class="bw-footer__content">
          <div class="col-sm-3 col-xs-12">
            <div class="footer-heading">
              Blackwood
            </div>
            <div class="footer-subheading">
              Documentation
            </div>
          </div>
          <div class="col-sm-3 col-xs-12">
            <ul>
              <li class="heading">
                Our Service
              </li>
              <li>
                Photography
              </li>
              <li>
                Videography
              </li>
            </ul>
          </div>
          <div class="col-sm-3 col-xs-12">
            <ul>
              <li class="heading">
                Contact Us
              </li>
              <li>
                <a href="https://www.facebook.com/blackwooddocumentation/" target="_blank"><i class="fa fa-facebook"><span class="ml-5">Our Facebook</span></i></a>
              </li>
              <li>
                <a href="mailto:andreasdwj@hotmail.co.id"><i class="fa fa-envelope-o"><span class="ml-5">Our Email</span></i></a>
              </li>
              <li>
                <a href="https://www.instagram.com/blackwood.doc/" target="_blank"><i class="fa fa-instagram"><span class="ml-5">Our Instagram</span></i></a>
              </li>
              <li>
                <a href="https://www.behance.com/blackwood.doc/" target="_blank"><i class="fa fa-behance"><span class="ml-5">Our Behance</span></i></a>
              </li>
            </ul>
          </div>
          <div class="col-sm-3 col-xs-12">
            <ul>
              <li class="heading"></li>
              <li></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
