app/views/partials/bw-footer.slim
.bw-footer
	.container
		.row
			.bw-footer__wrapper
				.bw-footer__content
					.col-sm-3.col-xs-12
						.footer-heading Blackwood
						.footer-subheading Documentation
					.col-sm-3.col-xs-12
						ul 
							li.heading Our Service
							li Photography
							li Videography
					.col-sm-3.col-xs-12
						ul
							li.heading Contact Us
							li
								a href="https://www.facebook.com/blackwooddocumentation/" target="_blank"
									i.fa.fa-facebook
										span.ml-5 Our Facebook
							li
								a href="mailto:andreasdwj@hotmail.co.id"
									i.fa.fa-envelope-o 
										span.ml-5 Our Email
							li
								a href="https://www.instagram.com/blackwood.doc/" target="_blank"
									i.fa.fa-instagram 
										span.ml-5 Our Instagram
							li
								a href="https://www.behance.com/blackwood.doc/" target="_blank"
									i.fa.fa-behance 
										span.ml-5 Our Behance
							

					.col-sm-3.col-xs-12
						ul
							li.heading 
							li

dist/views/partials/bw-footer.html
<div class="bw-footer">
  <div class="container">
    <div class="row">
      <div class="bw-footer__wrapper">
        <div class="bw-footer__content">
          <div class="col-sm-3 col-xs-12">
            <div class="footer-heading">
              Blackwood
            </div>
            <div class="footer-subheading">
              Documentation
            </div>
          </div>
          <div class="col-sm-3 col-xs-12">
            <ul>
              <li class="heading">
                Our Service
              </li>
              <li>
                Photography
              </li>
              <li>
                Videography
              </li>
            </ul>
          </div>
          <div class="col-sm-3 col-xs-12">
            <ul>
              <li class="heading">
                Contact Us
              </li>
              <li>
                <a href="https://www.facebook.com/blackwooddocumentation/" target="_blank"><i class="fa fa-facebook"><span class="ml-5">Our Facebook</span></i></a>
              </li>
              <li>
                <a href="mailto:andreasdwj@hotmail.co.id"><i class="fa fa-envelope-o"><span class="ml-5">Our Email</span></i></a>
              </li>
              <li>
                <a href="https://www.instagram.com/blackwood.doc/" target="_blank"><i class="fa fa-instagram"><span class="ml-5">Our Instagram</span></i></a>
              </li>
              <li>
                <a href="https://www.behance.com/blackwood.doc/" target="_blank"><i class="fa fa-behance"><span class="ml-5">Our Behance</span></i></a>
              </li>
            </ul>
          </div>
          <div class="col-sm-3 col-xs-12">
            <ul>
              <li class="heading"></li>
              <li></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
