app/views/partials/bw-photo.slim
link rel="stylesheet" href="/stylesheets/vendor.css"
link rel="stylesheet" href="/stylesheets/main.css"


nav
	.bw-navbar
		.container
			.bw-navbar__wrapper
				.bw-navbar__content
					.bw-navbar__brand
						p Andreasdwj
					.bw-navbar__menu.pull-right
						ul.list-inline
							a href="index.html"
								li Home
							li Contact Us
							li Portofolio

dist/views/partials/bw-photo.html
<link href="/stylesheets/vendor.css" rel="stylesheet" />
<link href="/stylesheets/main.css" rel="stylesheet" />
<nav>
  <div class="bw-navbar">
    <div class="container">
      <div class="bw-navbar__wrapper">
        <div class="bw-navbar__content">
          <div class="bw-navbar__brand">
            <p>
              Andreasdwj
            </p>
          </div>
          <div class="bw-navbar__menu pull-right">
            <ul class="list-inline">
              <a href="index.html">
                <li>
                  Home
                </li>
              </a>
              <li>
                Contact Us
              </li>
              <li>
                Portofolio
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
