app/views/partials/carousel.slim
#carousel-example-generic.carousel.slide data-ride="carousel" 
  /! Indicators
  ol.carousel-indicators
    li.active data-slide-to="0" data-target="#carousel-example-generic" 
    li data-slide-to="1" data-target="#carousel-example-generic" 
    li data-slide-to="2" data-target="#carousel-example-generic" 
  /! Wrapper for slides
  .carousel-inner role="listbox" 
    .item.active
      img alt="carousel-pict" src="images/carousel-1.png" class="img-responsive" style="width:100%;"
        
    .item
      img alt="carousel-pict" src="images/carousel-2.png" class="img-responsive" style="width:100%;"

    .item
      img alt="carousel-pict" src="images/carousel-3.png" class="img-responsive" style="width:100%;"

dist/views/partials/carousel.html
<div class="carousel slide" data-ride="carousel" id="carousel-example-generic">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li class="active" data-slide-to="0" data-target="#carousel-example-generic"></li>
    <li data-slide-to="1" data-target="#carousel-example-generic"></li>
    <li data-slide-to="2" data-target="#carousel-example-generic"></li>
  </ol>
  <!--Wrapper for slides-->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img alt="carousel-pict" class="img-responsive" src="images/carousel-1.png" style="width:100%;" />
    </div>
    <div class="item">
      <img alt="carousel-pict" class="img-responsive" src="images/carousel-2.png" style="width:100%;" />
    </div>
    <div class="item">
      <img alt="carousel-pict" class="img-responsive" src="images/carousel-3.png" style="width:100%;" />
    </div>
  </div>
</div>
