app/views/partials/component.slim
.component
	.container
		.row
			.component-title Component Sribulancer
			.col-sm-3.hidden-xs
				.well
					ul.nav.nav-pills.nav-stacked
						li.active Avatar
						li Menu 1
						li Menu 2
						li Menu 3
			.col-sm-9.col-xs-12
				.well
					h3.mb-30 Avatar

					h4 Avatar Type
					p.right Show HTML
					.avatar-wrapper
						.ava-frame.ava-100.mr-10
							img src="https://mir-s3-cdn-cf.behance.net/user/138/f50f7331820467.58331fb2a2c4a.jpeg" alt="dummy-ava"
						.ava-frame-o.ava-100.mr-10
							img src="https://mir-s3-cdn-cf.behance.net/user/138/f50f7331820467.58331fb2a2c4a.jpeg" alt="dummy-ava"
						.ava-frame.ava-100.mr-10
							span Dummy
						.ava-frame-o.ava-100.mr-10
							span Dummy

					.sl-code.mt-10
						.well.well-code
							p.right HTML
							span .ava-frame
							span.pl-20 	img src="image-path" alt="dummy-ava"

							span .ava-frame-o
							span.pl-20 	img src="image-path" alt="dummy-ava"

							span .ava-frame
							span.pl-20 	span Dummy

							span .ava-frame-o
							span.pl-20 	span Dummy
					
					h4 Avatar Square Size
					p.right Show HTML
					.avatar-wrapper
						.ava-frame.ava-125.mr-10
							img src="https://mir-s3-cdn-cf.behance.net/user/138/f50f7331820467.58331fb2a2c4a.jpeg" alt="dummy-ava"
						.ava-frame.ava-100.mr-10
							img src="https://mir-s3-cdn-cf.behance.net/user/138/f50f7331820467.58331fb2a2c4a.jpeg" alt="dummy-ava"
						.ava-frame.ava-75.mr-10
							img src="https://mir-s3-cdn-cf.behance.net/user/138/f50f7331820467.58331fb2a2c4a.jpeg" alt="dummy-ava"
						.ava-frame.mr-10
							img src="https://mir-s3-cdn-cf.behance.net/user/138/f50f7331820467.58331fb2a2c4a.jpeg" alt="dummy-ava"
						.ava-frame.ava-35.mr-10
							img src="https://mir-s3-cdn-cf.behance.net/user/138/f50f7331820467.58331fb2a2c4a.jpeg" alt="dummy-ava"

						.sl-code.mt-10
							.well.well-code
								p.right HTML
								span .ava-frame.ava-125
								span.pl-20 	img src="image-path" alt="dummy-ava"

								span .ava-frame.ava-100
								span.pl-20 	img src="image-path" alt="dummy-ava"

								span .ava-frame.ava-75
								span.pl-20 	img src="image-path" alt="dummy-ava"

								span .ava-frame
								span.pl-20 	img src="image-path" alt="dummy-ava"

								span .ava-frame.ava-35
								span.pl-20 	img src="image-path" alt="dummy-ava"

					h4 Avatar Circle Size
					p.right Show HTML
					.avatar-wrapper
						.ava-frame-o.ava-125.mr-10
							img src="https://mir-s3-cdn-cf.behance.net/user/138/f50f7331820467.58331fb2a2c4a.jpeg" alt="dummy-ava"
						.ava-frame-o.ava-100.mr-10
							img src="https://mir-s3-cdn-cf.behance.net/user/138/f50f7331820467.58331fb2a2c4a.jpeg" alt="dummy-ava"
						.ava-frame-o.ava-75.mr-10
							img src="https://mir-s3-cdn-cf.behance.net/user/138/f50f7331820467.58331fb2a2c4a.jpeg" alt="dummy-ava"
						.ava-frame-o.mr-10
							img src="https://mir-s3-cdn-cf.behance.net/user/138/f50f7331820467.58331fb2a2c4a.jpeg" alt="dummy-ava"
						.ava-frame-o.ava-35.mr-10
							img src="https://mir-s3-cdn-cf.behance.net/user/138/f50f7331820467.58331fb2a2c4a.jpeg" alt="dummy-ava"

					.sl-code.mt-10
						.well.well-code
							p.right HTML
							span .ava-frame-o.ava-125
							span.pl-20 	img src="image-path" alt="dummy-ava"

							span .ava-frame-o.ava-100
							span.pl-20 	img src="image-path" alt="dummy-ava"

							span .ava-frame-o.ava-75
							span.pl-20 	img src="image-path" alt="dummy-ava"

							span .ava-frame-o
							span.pl-20 	img src="image-path" alt="dummy-ava"

							span .ava-frame-o.ava-35
							span.pl-20 	img src="image-path" alt="dummy-ava"


					h3.mb-30.mt-30 Button

					h4 Button Type
					p.right Show HTML
					.button-wrapper
						.sl-btn.btn-blue.sl-btn-lg.dib.mr-10 btn-blue
						.sl-btn.btn-white.sl-btn-lg.dib.mr-10 btn-white
						.sl-btn.btn-blue-o.sl-btn-lg.dib.mr-10 btn-blue-o
						.sl-btn.btn-white-o.sl-btn-lg.dib.mr-10 btn-white-o
						.sl-btn.btn-transparent.sl-btn-lg.dib.mr-10 btn-transparent

					.sl-code.mt-10
						.well.well-code
							p.right HTML
							span .sl-btn.btn-blue 
							span.pl-20 text-btn
							span .sl-btn.btn-white 
							span.pl-20 text-btn
							span .sl-btn.btn-blue-o 
							span.pl-20 text-btn
							span .sl-btn.btn-white-o 
							span.pl-20 text-btn
							span .sl-btn.btn-transparent 
							span.pl-20 text-btn

					h4 Button Size
					p.right Show HTML
					.button-wrapper
						.sl-btn.btn-blue.sl-btn-lg.dib.mr-10 btn-blue
						.sl-btn.btn-blue.dib.mr-10 btn-blue
						.sl-btn.btn-blue.sl-btn-xs.dib.mr-10 btn-blue
						br
						.sl-btn.btn-white.sl-btn-lg.dib.mr-10.mt-10 btn-white
						.sl-btn.btn-white.dib.mr-10 btn-white
						.sl-btn.btn-white.sl-btn-xs.dib.mr-10 btn-white
						br
						.sl-btn.btn-blue-o.sl-btn-lg.dib.mr-10.mt-10 btn-blue-o
						.sl-btn.btn-blue-o.dib.mr-10 btn-blue-o
						.sl-btn.btn-blue-o.sl-btn-xs.dib.mr-10 btn-blue-o
						br
						.sl-btn.btn-white-o.sl-btn-lg.dib.mr-10.mt-10 btn-white-o
						.sl-btn.btn-white-o.dib.mr-10 btn-white-o
						.sl-btn.btn-white-o.sl-btn-xs.dib.mr-10 btn-white-o
						br
						.sl-btn.btn-transparent.sl-btn-lg.dib.mr-10.mt-10 btn-transparent
						.sl-btn.btn-transparent.dib.mr-10 btn-transparent
						.sl-btn.btn-transparent.sl-btn-xs.dib.mr-10 btn-transparent

					.sl-code.mt-10
						.well.well-code
							p.right HTML
							span .sl-btn.btn-blue.sl-btn-lg 
							span.pl-20 text-btn
							span .sl-btn.btn-blue 
							span.pl-20 text-btn
							span .sl-btn.btn-blue.sl-btn-xs
							span.pl-20 text-btn
							br
							span .sl-btn.btn-white.sl-btn-lg
							span.pl-20 text-btn
							span .sl-btn.btn-white 
							span.pl-20 text-btn
							span .sl-btn.btn-white.sl-btn-xs 
							span.pl-20 text-btn
							br
							span .sl-btn.btn-blue-o.sl-btn-lg 
							span.pl-20 text-btn
							span .sl-btn.btn-blue-o 
							span.pl-20 text-btn
							span .sl-btn.btn-blue-o.sl-btn-xs
							span.pl-20 text-btn
							br
							span .sl-btn.btn-white-o.sl-btn-lg 
							span.pl-20 text-btn
							span .sl-btn.btn-white-o 
							span.pl-20 text-btn
							span .sl-btn.btn-white-o.sl-btn-xs
							span.pl-20 text-btn
							br
							span .sl-btn.btn-transparent.sl-btn-lg
							span.pl-20 text-btn
							span .sl-btn.btn-transparent 
							span.pl-20 text-btn
							span .sl-btn.btn-transparent.sl-btn-xs 
							span.pl-20 text-btn

					h4 Button Block
					p.right Show HTML
					.button-wrapper
						.sl-btn.sl-btn-block.btn-blue.dib.mr-10 btn-blue
						.sl-btn.sl-btn-block.btn-white.dib.mr-10.mt-10 btn-white
						.sl-btn.sl-btn-block.btn-blue-o.dib.mr-10.mt-10 btn-blue-o
						.sl-btn.sl-btn-block.btn-white-o.dib.mr-10.mt-10 btn-white-o
						.sl-btn.sl-btn-block.btn-transparent.dib.mr-10.mt-10 btn-transparent

					.sl-code.mt-10
						.well.well-code
							p.right HTML
							span .sl-btn.sl-btn-block.btn-blue 
							span.pl-20 text-btn
							span .sl-btn.sl-btn-block.btn-white 
							span.pl-20 text-btn
							span .sl-btn.sl-btn-block.btn-blue-o 
							span.pl-20 text-btn
							span .sl-btn.sl-btn-block.btn-white-o 
							span.pl-20 text-btn
							span .sl-btn.sl-btn-block.btn-transparent 
							span.pl-20 text-btn

					h3.mb-30.mt-30 Input

					h4 Navbar Search
					p.right Show HTML
					.input-wrapper
						.searchbox
							span.fa.fa-search
							input class="input-navbar" type="text" placeholder="Search Conversation"
							span.fa.fa-close

					h4 Text box
					.input-wrapper
						.searchbox
							.fa.fa-search
								input type="text" placeholder="Search Conversation"
							.fa.fa-close

					.sl-code.mt-10
						.well.well-code
							p.right HTML
							span .searchbox
							span.pl-20 .fa.fa-search
							span.pl-40 input placeholder="Search Conversation"
							span.pl-20 .fa.fa-close

					h3.mb-30.mt-30 Color Palete

					h4 Color
					p.right Show HTML
					.color-wrapper
						.row
							.col-sm-2
								.color-frame.blue-sl.mr-10
									.text-wrapper
										p blue-sl
										p #1688d1
							.col-sm-2
								.color-frame.black-sl.mr-10
									.text-wrapper
										p black-sl
										p #292c35
							.col-sm-2
								.color-frame.red-sl.mr-10
									.text-wrapper
										p red-sl
										p #d05b64
							.col-sm-2
								.color-frame.white-sl.mr-10
									.text-wrapper
										p.inverse white-sl
										p.inverse #fff
							.col-sm-2
								.color-frame.border-sl.mr-10
									.text-wrapper
										p.inverse border-sl
										p.inverse #929191
						.row.mt-20
							.col-sm-2
								.color-frame.yellow-sl.mr-10
									.text-wrapper
										p yellow-sl
										p #f5a625
							.col-sm-2
								.color-frame.red-danger-sl.mr-10
									.text-wrapper
										p red-danger-sl
										p #f84545
							.col-sm-2
								.color-frame.green-sl.mr-10
									.text-wrapper
										p green-sl
										p #5bbc2e

					h3.mb-30.mt-30 Breadcrumb

					h4 Breadcrumb Type
					p.right Show HTML
					.wrapper
						.row.m-0
							h5 1. breacrumb hero
							.breadcrumb-hero
								.breadcrumb-hero__wrapper
									.breadcrumb-hero__content
										ul
											li.active ini tahap 1
											li ini tahap 2
											li ini tahap 3

						.row.m-0
							h5 2. breacrumb step
							.breadcrumb-step
								.breadcrumb-step__wrapper
									.breadcrumb-step__content
										ul
											li.active 
												.breadcrumb-step 
													.fa.fa-check
												.breadcrumb-title Step 1
											li 
												.breacrumb-step 2
												.breadcrumb-title Step 2
											li 
												.breacrumb-step 3
												.breadcrumb-title Step 3

						.row.m-0
							h5 3. breacrumb simpe
							.breadcrumb-simple
								.breadcrumb-simple__wrapper
									.breadcrumb-simple__content
										ul
											li.active 
												.breadcrumb-title Step 1
											li
												.breacrumb-title Step 2
											li 
												.breacrumb-title Step 3

					.sl-code.mt-10
						.well.well-code
							p.right HTML
							span .breadcrumb-hero 
							span.pl-20 .breadcrumb-hero__wrapper
							span.pl-40 .breadcrumb-hero__content
							span.pl-60 ul
							span.pl-80 li.active Ini tahap 1
							span.pl-80 li Ini tahap 2
							span.pl-80 li Ini tahap 3
							br
							span .breadcrumb-step 
							span.pl-20 .breadcrumb-step__wrapper
							span.pl-40 .breadcrumb-step__content
							span.pl-60 ul
							span.pl-80 li.active Ini tahap 1
							span.pl-80 li.active Ini tahap 2
							span.pl-80 li.active Ini tahap 3
							br
							span .breadcrumb-simpe 
							span.pl-20 .breadcrumb-simpe__wrapper
							span.pl-40 .breadcrumb-simpe__content
							span.pl-60 ul
							span.pl-80 li.active Ini tahap 1
							span.pl-80 li Ini tahap 2
							span.pl-80 li Ini tahap 3

							

dist/views/partials/component.html
<div class="component">
  <div class="container">
    <div class="row">
      <div class="component-title">
        Component Sribulancer
      </div>
      <div class="col-sm-3 hidden-xs">
        <div class="well">
          <ul class="nav nav-pills nav-stacked">
            <li class="active">
              Avatar
            </li>
            <li>
              Menu 1
            </li>
            <li>
              Menu 2
            </li>
            <li>
              Menu 3
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-9 col-xs-12">
        <div class="well">
          <h3 class="mb-30">
            Avatar
          </h3>
          <h4>
            Avatar Type
          </h4>
          <p class="right">
            Show HTML
          </p>
          <div class="avatar-wrapper">
            <div class="ava-frame ava-100 mr-10">
              <img alt="dummy-ava" src="https://mir-s3-cdn-cf.behance.net/user/138/f50f7331820467.58331fb2a2c4a.jpeg" />
            </div>
            <div class="ava-frame-o ava-100 mr-10">
              <img alt="dummy-ava" src="https://mir-s3-cdn-cf.behance.net/user/138/f50f7331820467.58331fb2a2c4a.jpeg" />
            </div>
            <div class="ava-frame ava-100 mr-10">
              <span>Dummy</span>
            </div>
            <div class="ava-frame-o ava-100 mr-10">
              <span>Dummy</span>
            </div>
          </div>
          <div class="sl-code mt-10">
            <div class="well well-code">
              <p class="right">
                HTML
              </p>
              <span>.ava-frame</span><span class="pl-20">	img src="image-path" alt="dummy-ava"</span><span>.ava-frame-o</span><span class="pl-20">	img src="image-path" alt="dummy-ava"</span><span>.ava-frame</span><span class="pl-20">	span Dummy</span><span>.ava-frame-o</span><span class="pl-20">	span Dummy</span>
            </div>
          </div>
          <h4>
            Avatar Square Size
          </h4>
          <p class="right">
            Show HTML
          </p>
          <div class="avatar-wrapper">
            <div class="ava-frame ava-125 mr-10">
              <img alt="dummy-ava" src="https://mir-s3-cdn-cf.behance.net/user/138/f50f7331820467.58331fb2a2c4a.jpeg" />
            </div>
            <div class="ava-frame ava-100 mr-10">
              <img alt="dummy-ava" src="https://mir-s3-cdn-cf.behance.net/user/138/f50f7331820467.58331fb2a2c4a.jpeg" />
            </div>
            <div class="ava-frame ava-75 mr-10">
              <img alt="dummy-ava" src="https://mir-s3-cdn-cf.behance.net/user/138/f50f7331820467.58331fb2a2c4a.jpeg" />
            </div>
            <div class="ava-frame mr-10">
              <img alt="dummy-ava" src="https://mir-s3-cdn-cf.behance.net/user/138/f50f7331820467.58331fb2a2c4a.jpeg" />
            </div>
            <div class="ava-frame ava-35 mr-10">
              <img alt="dummy-ava" src="https://mir-s3-cdn-cf.behance.net/user/138/f50f7331820467.58331fb2a2c4a.jpeg" />
            </div>
            <div class="sl-code mt-10">
              <div class="well well-code">
                <p class="right">
                  HTML
                </p>
                <span>.ava-frame.ava-125</span><span class="pl-20">	img src="image-path" alt="dummy-ava"</span><span>.ava-frame.ava-100</span><span class="pl-20">	img src="image-path" alt="dummy-ava"</span><span>.ava-frame.ava-75</span><span class="pl-20">	img src="image-path" alt="dummy-ava"</span><span>.ava-frame</span><span class="pl-20">	img src="image-path" alt="dummy-ava"</span><span>.ava-frame.ava-35</span><span class="pl-20">	img src="image-path" alt="dummy-ava"</span>
              </div>
            </div>
          </div>
          <h4>
            Avatar Circle Size
          </h4>
          <p class="right">
            Show HTML
          </p>
          <div class="avatar-wrapper">
            <div class="ava-frame-o ava-125 mr-10">
              <img alt="dummy-ava" src="https://mir-s3-cdn-cf.behance.net/user/138/f50f7331820467.58331fb2a2c4a.jpeg" />
            </div>
            <div class="ava-frame-o ava-100 mr-10">
              <img alt="dummy-ava" src="https://mir-s3-cdn-cf.behance.net/user/138/f50f7331820467.58331fb2a2c4a.jpeg" />
            </div>
            <div class="ava-frame-o ava-75 mr-10">
              <img alt="dummy-ava" src="https://mir-s3-cdn-cf.behance.net/user/138/f50f7331820467.58331fb2a2c4a.jpeg" />
            </div>
            <div class="ava-frame-o mr-10">
              <img alt="dummy-ava" src="https://mir-s3-cdn-cf.behance.net/user/138/f50f7331820467.58331fb2a2c4a.jpeg" />
            </div>
            <div class="ava-frame-o ava-35 mr-10">
              <img alt="dummy-ava" src="https://mir-s3-cdn-cf.behance.net/user/138/f50f7331820467.58331fb2a2c4a.jpeg" />
            </div>
          </div>
          <div class="sl-code mt-10">
            <div class="well well-code">
              <p class="right">
                HTML
              </p>
              <span>.ava-frame-o.ava-125</span><span class="pl-20">	img src="image-path" alt="dummy-ava"</span><span>.ava-frame-o.ava-100</span><span class="pl-20">	img src="image-path" alt="dummy-ava"</span><span>.ava-frame-o.ava-75</span><span class="pl-20">	img src="image-path" alt="dummy-ava"</span><span>.ava-frame-o</span><span class="pl-20">	img src="image-path" alt="dummy-ava"</span><span>.ava-frame-o.ava-35</span><span class="pl-20">	img src="image-path" alt="dummy-ava"</span>
            </div>
          </div>
          <h3 class="mb-30 mt-30">
            Button
          </h3>
          <h4>
            Button Type
          </h4>
          <p class="right">
            Show HTML
          </p>
          <div class="button-wrapper">
            <div class="sl-btn btn-blue sl-btn-lg dib mr-10">
              btn-blue
            </div>
            <div class="sl-btn btn-white sl-btn-lg dib mr-10">
              btn-white
            </div>
            <div class="sl-btn btn-blue-o sl-btn-lg dib mr-10">
              btn-blue-o
            </div>
            <div class="sl-btn btn-white-o sl-btn-lg dib mr-10">
              btn-white-o
            </div>
            <div class="sl-btn btn-transparent sl-btn-lg dib mr-10">
              btn-transparent
            </div>
          </div>
          <div class="sl-code mt-10">
            <div class="well well-code">
              <p class="right">
                HTML
              </p>
              <span>.sl-btn.btn-blue </span><span class="pl-20">text-btn</span><span>.sl-btn.btn-white </span><span class="pl-20">text-btn</span><span>.sl-btn.btn-blue-o </span><span class="pl-20">text-btn</span><span>.sl-btn.btn-white-o </span><span class="pl-20">text-btn</span><span>.sl-btn.btn-transparent </span><span class="pl-20">text-btn</span>
            </div>
          </div>
          <h4>
            Button Size
          </h4>
          <p class="right">
            Show HTML
          </p>
          <div class="button-wrapper">
            <div class="sl-btn btn-blue sl-btn-lg dib mr-10">
              btn-blue
            </div>
            <div class="sl-btn btn-blue dib mr-10">
              btn-blue
            </div>
            <div class="sl-btn btn-blue sl-btn-xs dib mr-10">
              btn-blue
            </div>
            <br />
            <div class="sl-btn btn-white sl-btn-lg dib mr-10 mt-10">
              btn-white
            </div>
            <div class="sl-btn btn-white dib mr-10">
              btn-white
            </div>
            <div class="sl-btn btn-white sl-btn-xs dib mr-10">
              btn-white
            </div>
            <br />
            <div class="sl-btn btn-blue-o sl-btn-lg dib mr-10 mt-10">
              btn-blue-o
            </div>
            <div class="sl-btn btn-blue-o dib mr-10">
              btn-blue-o
            </div>
            <div class="sl-btn btn-blue-o sl-btn-xs dib mr-10">
              btn-blue-o
            </div>
            <br />
            <div class="sl-btn btn-white-o sl-btn-lg dib mr-10 mt-10">
              btn-white-o
            </div>
            <div class="sl-btn btn-white-o dib mr-10">
              btn-white-o
            </div>
            <div class="sl-btn btn-white-o sl-btn-xs dib mr-10">
              btn-white-o
            </div>
            <br />
            <div class="sl-btn btn-transparent sl-btn-lg dib mr-10 mt-10">
              btn-transparent
            </div>
            <div class="sl-btn btn-transparent dib mr-10">
              btn-transparent
            </div>
            <div class="sl-btn btn-transparent sl-btn-xs dib mr-10">
              btn-transparent
            </div>
          </div>
          <div class="sl-code mt-10">
            <div class="well well-code">
              <p class="right">
                HTML
              </p>
              <span>.sl-btn.btn-blue.sl-btn-lg </span><span class="pl-20">text-btn</span><span>.sl-btn.btn-blue </span><span class="pl-20">text-btn</span><span>.sl-btn.btn-blue.sl-btn-xs</span><span class="pl-20">text-btn</span><br /><span>.sl-btn.btn-white.sl-btn-lg</span><span class="pl-20">text-btn</span><span>.sl-btn.btn-white </span><span class="pl-20">text-btn</span><span>.sl-btn.btn-white.sl-btn-xs </span><span class="pl-20">text-btn</span><br /><span>.sl-btn.btn-blue-o.sl-btn-lg </span><span class="pl-20">text-btn</span><span>.sl-btn.btn-blue-o </span><span class="pl-20">text-btn</span><span>.sl-btn.btn-blue-o.sl-btn-xs</span><span class="pl-20">text-btn</span><br /><span>.sl-btn.btn-white-o.sl-btn-lg </span><span class="pl-20">text-btn</span><span>.sl-btn.btn-white-o </span><span class="pl-20">text-btn</span><span>.sl-btn.btn-white-o.sl-btn-xs</span><span class="pl-20">text-btn</span><br /><span>.sl-btn.btn-transparent.sl-btn-lg</span><span class="pl-20">text-btn</span><span>.sl-btn.btn-transparent </span><span class="pl-20">text-btn</span><span>.sl-btn.btn-transparent.sl-btn-xs </span><span class="pl-20">text-btn</span>
            </div>
          </div>
          <h4>
            Button Block
          </h4>
          <p class="right">
            Show HTML
          </p>
          <div class="button-wrapper">
            <div class="sl-btn sl-btn-block btn-blue dib mr-10">
              btn-blue
            </div>
            <div class="sl-btn sl-btn-block btn-white dib mr-10 mt-10">
              btn-white
            </div>
            <div class="sl-btn sl-btn-block btn-blue-o dib mr-10 mt-10">
              btn-blue-o
            </div>
            <div class="sl-btn sl-btn-block btn-white-o dib mr-10 mt-10">
              btn-white-o
            </div>
            <div class="sl-btn sl-btn-block btn-transparent dib mr-10 mt-10">
              btn-transparent
            </div>
          </div>
          <div class="sl-code mt-10">
            <div class="well well-code">
              <p class="right">
                HTML
              </p>
              <span>.sl-btn.sl-btn-block.btn-blue </span><span class="pl-20">text-btn</span><span>.sl-btn.sl-btn-block.btn-white </span><span class="pl-20">text-btn</span><span>.sl-btn.sl-btn-block.btn-blue-o </span><span class="pl-20">text-btn</span><span>.sl-btn.sl-btn-block.btn-white-o </span><span class="pl-20">text-btn</span><span>.sl-btn.sl-btn-block.btn-transparent </span><span class="pl-20">text-btn</span>
            </div>
          </div>
          <h3 class="mb-30 mt-30">
            Input
          </h3>
          <h4>
            Navbar Search
          </h4>
          <p class="right">
            Show HTML
          </p>
          <div class="input-wrapper">
            <div class="searchbox">
              <span class="fa fa-search"></span><input class="input-navbar" placeholder="Search Conversation" type="text" /><span class="fa fa-close"></span>
            </div>
          </div>
          <h4>
            Text box
          </h4>
          <div class="input-wrapper">
            <div class="searchbox">
              <div class="fa fa-search">
                <input placeholder="Search Conversation" type="text" />
              </div>
              <div class="fa fa-close"></div>
            </div>
          </div>
          <div class="sl-code mt-10">
            <div class="well well-code">
              <p class="right">
                HTML
              </p>
              <span>.searchbox</span><span class="pl-20">.fa.fa-search</span><span class="pl-40">input placeholder="Search Conversation"</span><span class="pl-20">.fa.fa-close</span>
            </div>
          </div>
          <h3 class="mb-30 mt-30">
            Color Palete
          </h3>
          <h4>
            Color
          </h4>
          <p class="right">
            Show HTML
          </p>
          <div class="color-wrapper">
            <div class="row">
              <div class="col-sm-2">
                <div class="color-frame blue-sl mr-10">
                  <div class="text-wrapper">
                    <p>
                      blue-sl
                    </p>
                    <p>
                      #1688d1
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="color-frame black-sl mr-10">
                  <div class="text-wrapper">
                    <p>
                      black-sl
                    </p>
                    <p>
                      #292c35
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="color-frame red-sl mr-10">
                  <div class="text-wrapper">
                    <p>
                      red-sl
                    </p>
                    <p>
                      #d05b64
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="color-frame white-sl mr-10">
                  <div class="text-wrapper">
                    <p class="inverse">
                      white-sl
                    </p>
                    <p class="inverse">
                      #fff
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="color-frame border-sl mr-10">
                  <div class="text-wrapper">
                    <p class="inverse">
                      border-sl
                    </p>
                    <p class="inverse">
                      #929191
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-20">
              <div class="col-sm-2">
                <div class="color-frame yellow-sl mr-10">
                  <div class="text-wrapper">
                    <p>
                      yellow-sl
                    </p>
                    <p>
                      #f5a625
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="color-frame red-danger-sl mr-10">
                  <div class="text-wrapper">
                    <p>
                      red-danger-sl
                    </p>
                    <p>
                      #f84545
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="color-frame green-sl mr-10">
                  <div class="text-wrapper">
                    <p>
                      green-sl
                    </p>
                    <p>
                      #5bbc2e
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h3 class="mb-30 mt-30">
            Breadcrumb
          </h3>
          <h4>
            Breadcrumb Type
          </h4>
          <p class="right">
            Show HTML
          </p>
          <div class="wrapper">
            <div class="row m-0">
              <h5>
                1. breacrumb hero
              </h5>
              <div class="breadcrumb-hero">
                <div class="breadcrumb-hero__wrapper">
                  <div class="breadcrumb-hero__content">
                    <ul>
                      <li class="active">
                        ini tahap 1
                      </li>
                      <li>
                        ini tahap 2
                      </li>
                      <li>
                        ini tahap 3
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="row m-0">
              <h5>
                2. breacrumb step
              </h5>
              <div class="breadcrumb-step">
                <div class="breadcrumb-step__wrapper">
                  <div class="breadcrumb-step__content">
                    <ul>
                      <li class="active">
                        <div class="breadcrumb-step">
                          <div class="fa fa-check"></div>
                        </div>
                        <div class="breadcrumb-title">
                          Step 1
                        </div>
                      </li>
                      <li>
                        <div class="breacrumb-step">
                          2
                        </div>
                        <div class="breadcrumb-title">
                          Step 2
                        </div>
                      </li>
                      <li>
                        <div class="breacrumb-step">
                          3
                        </div>
                        <div class="breadcrumb-title">
                          Step 3
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="row m-0">
              <h5>
                3. breacrumb simpe
              </h5>
              <div class="breadcrumb-simple">
                <div class="breadcrumb-simple__wrapper">
                  <div class="breadcrumb-simple__content">
                    <ul>
                      <li class="active">
                        <div class="breadcrumb-title">
                          Step 1
                        </div>
                      </li>
                      <li>
                        <div class="breacrumb-title">
                          Step 2
                        </div>
                      </li>
                      <li>
                        <div class="breacrumb-title">
                          Step 3
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sl-code mt-10">
            <div class="well well-code">
              <p class="right">
                HTML
              </p>
              <span>.breadcrumb-hero </span><span class="pl-20">.breadcrumb-hero__wrapper</span><span class="pl-40">.breadcrumb-hero__content</span><span class="pl-60">ul</span><span class="pl-80">li.active Ini tahap 1</span><span class="pl-80">li Ini tahap 2</span><span class="pl-80">li Ini tahap 3</span><br /><span>.breadcrumb-step </span><span class="pl-20">.breadcrumb-step__wrapper</span><span class="pl-40">.breadcrumb-step__content</span><span class="pl-60">ul</span><span class="pl-80">li.active Ini tahap 1</span><span class="pl-80">li.active Ini tahap 2</span><span class="pl-80">li.active Ini tahap 3</span><br /><span>.breadcrumb-simpe </span><span class="pl-20">.breadcrumb-simpe__wrapper</span><span class="pl-40">.breadcrumb-simpe__content</span><span class="pl-60">ul</span><span class="pl-80">li.active Ini tahap 1</span><span class="pl-80">li Ini tahap 2</span><span class="pl-80">li Ini tahap 3</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
