dist/views/partials/kiducation.html
<div class="kiducation">
  <div class="navbar">
    <ul class="nav navbar-nav">
      <li>
        <a href="#">about</a>
      </li>
      <li>
        <a href="#">activities</a>
      </li>
      <li>
        <a href="#">blog</a>
      </li>
      <li>
        <img alt="Logo Kiducation" id="logo-navbar-middle" src="/images/logokidu.png" width="200" />
      </li>
      <li>
        <a href="#">get in touch</a>
      </li>
      <li>
        <a href="#">my account</a>
      </li>
    </ul>
  </div>
  <div class="hero">
    <div class="container">
      <div class="row">
        <div class="col-sm-6" style="position: relative;">
          <img alt="Logo Kiducation" id="pattern" src="/images/pattern6.png" style="position: absolute; top: -52px;" width="200" />
          <h1 class="hero-title">
            Hello! 
          </h1>
          <h4 class="hero-subtitle">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio iusto, odio quibusdam iure placeat corporis cupiditate quo similique doloremque ad aliquid saepe voluptatibus, hic est ducimus reprehenderit, fuga, quidem perferendis!
          </h4>
        </div>
        <div class="col-sm-6">
          <div class="pattern-1" style="position: relative;">
            <img alt="Logo Kiducation" id="pattern" src="/images/pattern2.png" style="position: absolute; right: 0; top: 16em;" width="200" /><img alt="Logo Kiducation" id="pattern" src="/images/pattern1.png" style="position: absolute; right: 0; top: 16em;" width="200" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-divider">
    <div class="container">
      <div class="row">
        <div class="col-sm-12" style="padding: 20px;">
          <span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. </span>
        </div>
      </div>
    </div>
  </div>
</div>

app/views/partials/kiducation.slim
.kiducation
	.navbar
		ul.nav.navbar-nav
			li 
				a href="#" about
			li 
				a href="#" activities
			li 
				a href="#" blog
			li 
				img id="logo-navbar-middle" src="/images/logokidu.png" width="200" alt="Logo Kiducation"
			li 
				a href="#" get in touch
			li 
				a href="#" my account


	.hero
		.container
			.row
				.col-sm-6 style="position: relative;"
					img id="pattern" src="/images/pattern6.png" width="200" alt="Logo Kiducation" style="position: absolute; top: -52px;"
					h1.hero-title Hello! 
					h4.hero-subtitle  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio iusto, odio quibusdam iure placeat corporis cupiditate quo similique doloremque ad aliquid saepe voluptatibus, hic est ducimus reprehenderit, fuga, quidem perferendis!
				.col-sm-6
					.pattern-1 style="position: relative;"
						img id="pattern" src="/images/pattern2.png" width="200" alt="Logo Kiducation" style="position: absolute; right: 0; top: 16em;"
						img id="pattern" src="/images/pattern1.png" width="200" alt="Logo Kiducation" style="position: absolute; right: 0; top: 16em;"

	.hero-divider
		.container
			.row
				.col-sm-12 style="padding: 20px;"
					span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
