app/views/partials/navbar.slim
nav
	.tc-navbar
		.container
			.tc-navbar__wrapper
				.tc-navbar__content
					.tc-navbar__brand
						p Andreasdwj
					.tc-navbar__menu.pull-right
						ul.list-inline
							li Home
							li Contact Us
							li Portofolio

dist/views/partials/navbar.html
<nav>
  <div class="tc-navbar">
    <div class="container">
      <div class="tc-navbar__wrapper">
        <div class="tc-navbar__content">
          <div class="tc-navbar__brand">
            <p>
              Andreasdwj
            </p>
          </div>
          <div class="tc-navbar__menu pull-right">
            <ul class="list-inline">
              <li>
                Home
              </li>
              <li>
                Contact Us
              </li>
              <li>
                Portofolio
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
