app/views/partials/newhomepage.slim
.newhomepage
	.wrapper
		.navbar
			.navbar-content
				.logo-brand BLACKWOOD DOC.
				.navbar-menu 
					ul
						li About Us
						li Portfolio
						li Contact Us

		#hero-blackwood
			.hero-slider
				.hero-1
				.hero-2
				.hero-3

		#gallery
			.gallery-title Our Works
			.row.mt-20
				- for i in (1..6)
				  .col-sm-4
				  	.gallery-boxes
					  	img src='images/gallery/#{i}.jpg' class="img-responsive"

		#contactus
			.contactus-title Contact Us
			ul
				li Gabriella 
				li Instagram
				li Facebook
				li Twitter

dist/views/partials/newhomepage.html
<div class="newhomepage">
  <div class="wrapper">
    <div class="navbar">
      <div class="navbar-content">
        <div class="logo-brand">
          BLACKWOOD DOC.
        </div>
        <div class="navbar-menu">
          <ul>
            <li>
              About Us
            </li>
            <li>
              Portfolio
            </li>
            <li>
              Contact Us
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="hero-blackwood">
      <div class="hero-slider">
        <div class="hero-1"></div>
        <div class="hero-2"></div>
        <div class="hero-3"></div>
      </div>
    </div>
    <div id="gallery">
      <div class="gallery-title">
        Our Works
      </div>
      <div class="row mt-20">
        <div class="col-sm-4">
          <div class="gallery-boxes">
            <img class="img-responsive" src="images/gallery/1.jpg" />
          </div>
        </div>
        <div class="col-sm-4">
          <div class="gallery-boxes">
            <img class="img-responsive" src="images/gallery/2.jpg" />
          </div>
        </div>
        <div class="col-sm-4">
          <div class="gallery-boxes">
            <img class="img-responsive" src="images/gallery/3.jpg" />
          </div>
        </div>
        <div class="col-sm-4">
          <div class="gallery-boxes">
            <img class="img-responsive" src="images/gallery/4.jpg" />
          </div>
        </div>
        <div class="col-sm-4">
          <div class="gallery-boxes">
            <img class="img-responsive" src="images/gallery/5.jpg" />
          </div>
        </div>
        <div class="col-sm-4">
          <div class="gallery-boxes">
            <img class="img-responsive" src="images/gallery/6.jpg" />
          </div>
        </div>
      </div>
    </div>
    <div id="contactus">
      <div class="contactus-title">
        Contact Us
      </div>
      <ul>
        <li>
          Gabriella 
        </li>
        <li>
          Instagram
        </li>
        <li>
          Facebook
        </li>
        <li>
          Twitter
        </li>
      </ul>
    </div>
  </div>
</div>
