app/views/partials/test-sleekr.slim
/ .sleekr
/ 	.container
/ 		.row
/ 			.sleekr__wrapper
/ 				.sleekr__content 
/ 					.col-sm-4
/ 						.brand-logo
/ 							img src="images/sleekr/logo.png"
/ 						.hero-title Meet amazing Sleekr team
/ 						.hero-subtitle Skate ipsum dolor sit amet, manual hospital flip gap cab flip. Bail wax manual Alien Workshop freestyle.  
/ 						.key-info
/ 							img src="images/sleekr/arrow-info.png"
/ 					.col-sm-8
/ 						.col-sm-4
/ 							.panel.panel-sleekr
/ 								.panel-heading.panel-heading-sleekr
/ 									img src="images/sleekr/pp-1.png"
/ 								.panel-body.panel-body-sleekr
/ 									.username Connie Jones
/ 									.location
/ 										.fa.fa-map-marker 
/ 											span Jerman
/ 								.panel-footer.panel-footer-sleekr
/ 									span Phone
/ 									span Email
/ 						.col-sm-4
/ 							.panel.panel-sleekr
/ 								.panel-heading.panel-heading-sleekr
/ 									img src="images/sleekr/pp-2.png"
/ 								.panel-body.panel-body-sleekr
/ 									.username Stefan kruse
/ 									.location
/ 										.fa.fa-map-marker 
/ 											span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur temporibus perspiciatis obcaecati, saepe pariatur ducimus quos blanditiis, porro atque consequatur aspernatur sed similique impedit ad quam optio. Deleniti, sed, libero.
/ 								.panel-footer.panel-footer-sleekr
/ 									span Phone
/ 									span Email
/ 						.col-sm-4
/ 								.panel.panel-sleekr
/ 									.panel-heading.panel-heading-sleekr
/ 										img src="images/sleekr/pp-3.png"
/ 									.panel-body.panel-body-sleekr
/ 										.username Tyler Lewis
/ 										.location
/ 											.fa.fa-map-marker 
/ 												span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur temporibus perspiciatis obcaecati, saepe pariatur ducimus quos blanditiis, porro atque consequatur aspernatur sed similique impedit ad quam optio. Deleniti, sed, libero.
/ 									.panel-footer.panel-footer-sleekr
/ 										span Phone
/ 										span Email


//28 november 2017
.tes-sleekr
	.left-side
		.brand-logo
			img src="images/sleekr/logo.png"
		.hero-title Meet amazing Sleekr team
		.hero-subtitle Skate ipsum dolor sit amet, manual hospital flip gap cab flip. Bail wax manual Alien Workshop freestyle. 
		.key-info
			img src="images/sleekr/arrow-info.png" 
	.right-side 
		//panel1
		.panel.panel-sleekr
			.panel-heading.panel-heading-sleekr
				img src="images/sleekr/pp-1.png"
			.panel-body.panel-body-sleekr
				.username Connie Jones
				.location
					.fa.fa-map-marker 
						span Jerman
			.panel-footer.panel-footer-sleekr
				span Phone
				span Email
		//panel 2
		.panel.panel-sleekr
			.panel-heading.panel-heading-sleekr
				img src="images/sleekr/pp-2.png"
			.panel-body.panel-body-sleekr
				.username Stefan kruse
				.location
					.fa.fa-map-marker 
						span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur temporibus perspiciatis obcaecati, saepe pariatur ducimus quos blanditiis, porro atque consequatur aspernatur sed similique impedit ad quam optio. Deleniti, sed, libero.
			.panel-footer.panel-footer-sleekr
				span Phone
				span Email

		//panel 3
		.panel.panel-sleekr
			.panel-heading.panel-heading-sleekr
				img src="images/sleekr/pp-3.png"
			.panel-body.panel-body-sleekr
				.username Tyler Lewis
				.location
					.fa.fa-map-marker 
						span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur temporibus perspiciatis obcaecati, saepe pariatur ducimus quos blanditiis, porro atque consequatur aspernatur sed similique impedit ad quam optio. Deleniti, sed, libero.
			.panel-footer.panel-footer-sleekr
				span Phone
				span Email

dist/views/partials/test-sleekr.html
<div class="tes-sleekr">
  <div class="left-side">
    <div class="brand-logo">
      <img src="images/sleekr/logo.png" />
    </div>
    <div class="hero-title">
      Meet amazing Sleekr team
    </div>
    <div class="hero-subtitle">
      Skate ipsum dolor sit amet, manual hospital flip gap cab flip. Bail wax manual Alien Workshop freestyle. 
    </div>
    <div class="key-info">
      <img src="images/sleekr/arrow-info.png" />
    </div>
  </div>
  <div class="right-side">
    <div class="panel panel-sleekr">
      <div class="panel-heading panel-heading-sleekr">
        <img src="images/sleekr/pp-1.png" />
      </div>
      <div class="panel-body panel-body-sleekr">
        <div class="username">
          Connie Jones
        </div>
        <div class="location">
          <div class="fa fa-map-marker">
            <span>Jerman</span>
          </div>
        </div>
      </div>
      <div class="panel-footer panel-footer-sleekr">
        <span>Phone</span><span>Email</span>
      </div>
    </div>
    <div class="panel panel-sleekr">
      <div class="panel-heading panel-heading-sleekr">
        <img src="images/sleekr/pp-2.png" />
      </div>
      <div class="panel-body panel-body-sleekr">
        <div class="username">
          Stefan kruse
        </div>
        <div class="location">
          <div class="fa fa-map-marker">
            <span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur temporibus perspiciatis obcaecati, saepe pariatur ducimus quos blanditiis, porro atque consequatur aspernatur sed similique impedit ad quam optio. Deleniti, sed, libero.</span>
          </div>
        </div>
      </div>
      <div class="panel-footer panel-footer-sleekr">
        <span>Phone</span><span>Email</span>
      </div>
    </div>
    <div class="panel panel-sleekr">
      <div class="panel-heading panel-heading-sleekr">
        <img src="images/sleekr/pp-3.png" />
      </div>
      <div class="panel-body panel-body-sleekr">
        <div class="username">
          Tyler Lewis
        </div>
        <div class="location">
          <div class="fa fa-map-marker">
            <span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur temporibus perspiciatis obcaecati, saepe pariatur ducimus quos blanditiis, porro atque consequatur aspernatur sed similique impedit ad quam optio. Deleniti, sed, libero.</span>
          </div>
        </div>
      </div>
      <div class="panel-footer panel-footer-sleekr">
        <span>Phone</span><span>Email</span>
      </div>
    </div>
  </div>
</div>
